.schnack-form {
  margin-top: 20px;
}

.schnack-body {
  font-size: 100%;
  width: 100%;
}

.schnack-comments {
  margin: 0;
  padding: 0;
}

.schnack-date a {
  color: #828282;
}

.schnack-date {
  float: right;
}
