@import '../node_modules/bulma/sass/utilities/initial-variables';
@import '../node_modules/bulma/sass/utilities/functions';

// Add new variables

$pinkyRed: #dd3344;

$primary: $pinkyRed;

@import '../node_modules/bulma/sass/utilities/derived-variables';

// Set your colors here!

$link: $pinkyRed;

$footer-background-color: $dark;

@import '../node_modules/bulma/bulma';

@import './fontawesome';
@import './highlight';
@import './schnack';
@import './custom';
